.el-form-item__label {
  font-size: 18px;
}

.el-select .el-input__inner:focus {
  border-color: #91cebe;
}

.el-input__inner:hover {
  border-color: #91cebe;
}
.el-select:hover .el-input__inner{
  border-color: #91cebe;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  color: #FFF;
    background-color: #019875;
    border-color: #91cebe;
    -webkit-box-shadow: -1px 0 0 0 #91cebe;
    box-shadow: -1px 0 0 0 #91cebe;
}
.el-radio-button__inner:hover{
  color: #91cebe;
}
.el-button--lagou{
  padding: 0 55px;
  font-size: 18px;
  color: #fff;
  border: none;
  height: 32px;
  line-height: 32px;
  background: #91cebe;
  float: left;
  margin: 15px 40px 0 0;
  overflow: hidden;
  transition: background 0.2s ease-in 0s;
}
.el-button--lagou:hover{
  color: #fff;
  background: #019875;
}
#container .salary .el-input,#container .salary .el-input .el-input__inner{
  width: 170px;
}
#container .salary .el-input .el-input__suffix-inner{
  line-height: 46px;
  font-size: 18px;
}
#quill-container{
  max-height: 300px;
  overflow: scroll;
}
.deliveryTip .el-dialog__body {
  text-align: center;
  font-size: 18px;
}
.el-message-box__btns .el-button{
  color: #fff;
}
.el-message-box__btns .el-button{
  background: #91cebe;
  border-color: #91cebe;
}
.el-message-box__btns .el-button:hover{
  background: #019875;
  border-color: #019875;
  color: #fff;
}